* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: poppins;
}

ul, nav {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 35px 100px 0;
}

header h2 span {
    color: #f36100;
}

header ul {
    display: flex;
}

header ul li {
    margin: 0px 15px;
}

header nav li:first-child {
    margin-left: 0;
}

header nav li:last-child {
    margin-right: 0;
}

@media(max-width: 1000px) {
    header {
        padding: 20px 50px;
    }
}

@media(max-width: 700px) {
    header {
        flex-direction: column;
    }
    header h2 {
        margin-bottom: 15px;
    }
    header nav li {
        margin: 0 7px;
    }
}

/* banner area */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
    color: #fff;
}

@media(max-width: 1000px) {
    section {
        padding: 100px 50px;
    }
}

@media(max-width: 600px) {
    section {
        padding: 125px 30px;
    }
}

section p {
    max-width: 800px;
    text-align: center;
    color: #fff;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

.banner-area {
    position: relative;
    min-height: 100vh;
    justify-content: center;
    color: #fff;
}

.banner-area .banner-img {
    background: url('img/banner.jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-position: center center;
}

.banner-area .banner-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}

.banner-area h1 {
    margin-bottom: 15px;
    font-size: 65px;
    text-transform: uppercase;
}

.banner-area h1 span {
    color: #f36100;
}

.banner-area h3 {
    font-size: 25px;
    font-weight: 100;
    text-transform: uppercase;
}

.banner-area a.banner-btn {
    padding: 15px 25px;
    background: #f36100;
    text-transform: uppercase;
}

@media(max-width: 800px) {
    .banner-area {
        min-height: 600px;
    }
    .banner-area h1 {
        font-size: 27px;
    }
    .banner-area h3 {
        font-size: 20px;
    }
    .banner-area a.banner-btn {
        padding: 8px 15px;
    }
}

#about {
    background: #0a0a0a;
}

ul.about-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.about-content li {
    padding: 20px;
    height: 290px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.about-left {
    
    flex-basis: 40%;
    background: url('img/bg1.jpeg');
    
}

.about-right {
    flex-basis: 60%;
}

.about-area p {
    max-width: 800px;
    margin-bottom: 35px;
    line-height: 1.5;
    text-align: left;
    padding-left: 0;
}

.section-title {
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 5%;
}

.section-title span {
    color: #f36100;
}

.about-right h2 {
    margin-bottom: 3%;
}

@media(max-width: 800px) {
    .section-title {
        font-size: 35px;
    }
    .about-left, .about-right {
        flex-basis: 100%;
    }
    .about-content li {
        padding: 8px;
    }
}

#services {
    background: #151515;
}

ul.services-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services-content li {
    padding: 0px 30px;
    flex-basis: 33%;
    text-align: center;
}

.services-content li img {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin-bottom: 20px;
}

.services-content li h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 500;
    letter-spacing: 3;
}

.services-content li p {
    margin: 0;
}

@media(max-width: 1000px) {
    .services-content li {
        flex-basis: 100%;
        margin-bottom: 65px;
    }
    .services-content li:last-child {
        margin-bottom: 0;
    }
    .services-content li p {
        padding: 0;
    }
}

#contact {
    background: #0a0a0a;
}

ul.contact-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-content li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.contact-content li img {
    width: 10%;
    filter: invert(100%);
    margin-bottom: 25px;
}

.contact-content li p {
    margin: 0;
}

@media(max-width: 1000px) {
    .contact-content li {
        flex-basis: 100%;
        margin-bottom: 65px;
    }

    .contact-content li:last-child {
        margin-bottom: 0;
    }

    .contact-content li p {
        padding: 0;
    }
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: black;
    padding: 60px 0;
    font-size: 18px;
}
